*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #F4FAFF;
}
.MuiTableCell-root {
  border: none !important;
  text-align: center !important;

}
.MuiTable-root{
  &:placeholder{
    background-color: red;
    color: red;
  }
}
// .MuiTableRow-root{
 
//   &:hover{
//     background-color: yellow;
//   }
// }
// .MuiTableRow-hover{
//   background-color: yellow !important;
// }
